<%-include("partials/header")-%>
    <h1>Home</h1>

    <p> <%=homeContent%> </p>

        <% posts.forEach(function(post){ %>
            <h3><%= post.title %></h3>
            <h6><%= post.content.substring(0, 100) + "..." %>
            <a href="/posts/<%= post.title %>">Read More</a>
            </h6>
        <% }); %>  
<%-include("partials/footer")-%>